https://towardsdatascience.com/python-automl-sklearn-fd85d3b3c5e

In [2]:
import math
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.preprocessing import LabelEncoder 
from sklearn.preprocessing import OneHotEncoder  
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import RobustScaler
from scipy import stats

import warnings
warnings.filterwarnings('ignore')

In [3]:
df = pd.read_csv('data/test_enc.csv')

In [4]:
df.head(5)

   carat  cut  color  clarity     depth  table
0   0.32    4      1        2  0.605381   58.0
1   1.24    3      1        2  0.629247   60.0
2   1.66    3      6        2  0.620462   59.0
3   0.75    3      6        1  0.606419   56.0
4   1.50    0      5        1  0.648161   55.0

In [7]:
df['cut'].unique()

array(['Premium', 'Ideal', 'Very Good', 'Fair', 'Good'], dtype=object)

In [8]:
df['color'].unique()

array(['D', 'E', 'F', 'G', 'H', 'I', 'J'], dtype=object)

In [6]:
df['clarity'].unique()

array(['SI2', 'VVS2', 'VS2', 'VS1', 'SI1', 'VVS1', 'IF', 'I1'],
      dtype=object)

In [136]:
dict_cut = {'Fair': 0, 'Good': 1, 'Very Good': 2, 'Premium': 3, 'Ideal': 4}
dict_color = {'J': 0, 'I': 1, 'H': 2, 'G': 3, 'F': 5, 'E': 5, 'D': 7}
dict_clarity = {'I1': 0, 'SI2': 1, 'SI1': 2, 'VS2': 3, 'VS1': 4, 'VVS2': 5, 'VVS1': 6, 'IF': 7}

In [137]:
df["cut"] = df["cut"].map(dict_cut)
df["color"] = df["color"].map(dict_color)
df["clarity"] = df["clarity"].map(dict_clarity)

In [138]:
df.head(5)

   carat  cut  color  clarity     depth  table  price
0   0.30    3      6        1  0.623981   58.0  6.353
1   1.01    4      5        5  0.627329   56.0  9.183
2   0.72    4      4        3  0.618341   59.0  7.983
3   1.08    2      3        1  0.631902   57.0  8.371
4   0.36    3      3        4  0.623204   59.0  6.588

In [12]:
df.to_csv('data/encodings/train_enc.csv',index=False)

In [44]:
df = pd.read_csv('data/encodings/train_enc_2.csv')

In [46]:
df.drop('Unnamed: 0', axis=1, inplace=True)

In [47]:
df.head(5)

   carat  cut  color  clarity     depth  table  price
0   0.30    3      6        1  0.623981   58.0  6.353
1   1.01    4      5        5  0.627329   56.0  9.183
2   0.72    4      4        3  0.618341   59.0  7.983
3   1.08    2      3        1  0.631902   57.0  8.371
4   0.36    3      3        4  0.623204   59.0  6.588

In [33]:
robust = RobustScaler()

In [34]:
robust.fit(df[["carat", "depth", "table"]])

RobustScaler()

In [35]:
X_robust = robust.transform(df[["carat", "depth", "table"]])
X_robust

array([[-6.25000000e-01,  3.79167946e-01,  3.33333333e-01],
       [ 4.84375000e-01,  6.04881207e-01, -3.33333333e-01],
       [ 3.12500000e-02, -1.13783499e-03,  6.66666667e-01],
       ...,
       [ 1.56250000e-01,  6.19837061e-01,  3.33333333e-01],
       [ 4.84375000e-01, -2.32646618e-01,  0.00000000e+00],
       [ 9.37500000e-01, -1.16192609e+00,  3.33333333e-01]])

In [36]:
df[["carat", "depth", "table"]] = X_robust
df.head()

      carat  cut  color  clarity     depth     table  price
0 -0.625000    3      6        1  0.379168  0.333333  6.353
1  0.484375    4      5        5  0.604881 -0.333333  9.183
2  0.031250    4      4        3 -0.001138  0.666667  7.983
3  0.593750    2      3        1  0.913174  0.000000  8.371
4 -0.531250    3      3        4  0.326785  0.666667  6.588

In [37]:
df.to_csv('data/encodings/train_enc_4.csv')

In [40]:
oi=pd.DataFrame(normalized)

In [42]:
df['price_norm_2'] = oi[6]

In [48]:
df.head(5)

   carat  cut  color  clarity     depth  table  price
0   0.30    3      6        1  0.623981   58.0  6.353
1   1.01    4      5        5  0.627329   56.0  9.183
2   0.72    4      4        3  0.618341   59.0  7.983
3   1.08    2      3        1  0.631902   57.0  8.371
4   0.36    3      3        4  0.623204   59.0  6.588

In [150]:
df.to_csv('data/encodings/train_3.csv',index=False)

In [5]:
df.head(10)

   carat  cut  color  clarity     depth  table
0   0.32    4      1        2  0.605381   58.0
1   1.24    3      1        2  0.629247   60.0
2   1.66    3      6        2  0.620462   59.0
3   0.75    3      6        1  0.606419   56.0
4   1.50    0      5        1  0.648161   55.0
5   0.82    4      2        3  0.615385   56.0
6   0.54    4      3        1  0.617871   54.0
7   0.45    1      6        3  0.637317   61.0
8   0.31    2      3        2  0.632439   57.0
9   0.30    3      6        3  0.606897   60.0

In [10]:
df.dtypes

carat      float64
cut         object
color       object
clarity     object
depth      float64
table      float64
dtype: object

In [9]:
df = df.astype({"cut": str}, errors='raise')

In [80]:
dict_cut = ['0', '1', '2', '3', '4']
dict_color = ['0', '1', '2', '3', '4', '5', '6']
dict_clarity = ['0', '1', '2', '3', '4', '5', '6', '7']

In [79]:
ordinal = OrdinalEncoder(categories = [dict_cut], dtype = int)
transformados_oe = ordinal.fit_transform(df[["cut"]])

In [11]:
oh = OneHotEncoder()

In [12]:
transformados = oh.fit_transform(df[["cut", "color", "clarity"]])

In [13]:
oh_df = pd.DataFrame(transformados.toarray(), dtype = int)
oh_df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0
1,0,0,0,1,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0
2,0,0,0,1,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0
3,0,0,0,1,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0

In [14]:
oh_df.columns = oh.get_feature_names()

In [15]:
oh_df.head()

,x0_0,x0_1,x0_2,x0_3,x0_4,x1_0,x1_1,x1_2,x1_3,x1_4,x1_5,x1_6,x2_0,x2_1,x2_2,x2_3,x2_4,x2_5,x2_6,x2_7
0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0
1,0,0,0,1,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0
2,0,0,0,1,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0
3,0,0,0,1,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0

In [16]:
df[oh_df.columns] = oh_df

In [94]:
df = df.astype({"cut": int}, errors='raise')

In [17]:
df.dtypes

carat      float64
cut         object
color       object
clarity     object
depth      float64
table      float64
x0_0         int32
x0_1         int32
x0_2         int32
x0_3         int32
x0_4         int32
x1_0         int32
x1_1         int32
x1_2         int32
x1_3         int32
x1_4         int32
x1_5         int32
x1_6         int32
x2_0         int32
x2_1         int32
x2_2         int32
x2_3         int32
x2_4         int32
x2_5         int32
x2_6         int32
x2_7         int32
dtype: object

In [19]:

df.head(5)

,carat,cut,color,clarity,depth,table,x0_0,x0_1,x0_2,x0_3,...,x1_5,x1_6,x2_0,x2_1,x2_2,x2_3,x2_4,x2_5,x2_6,x2_7
0,0.32,4,1,2,0.605381,58.0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
1,1.24,3,1,2,0.629247,60.0,0,0,0,1,...,0,0,0,0,1,0,0,0,0,0
2,1.66,3,6,2,0.620462,59.0,0,0,0,1,...,0,1,0,0,1,0,0,0,0,0
3,0.75,3,6,1,0.606419,56.0,0,0,0,1,...,0,1,0,1,0,0,0,0,0,0
4,1.50,0,5,1,0.648161,55.0,1,0,0,0,...,1,0,0,1,0,0,0,0,0,0

In [20]:
df.drop(['cut', 'color', 'clarity'], axis=1, inplace=True)

In [22]:
df.to_csv('data/test_enc_6.csv',index=False)

In [97]:
df.drop(['cut', 'color', 'clarity'], axis=1, inplace=True)

In [99]:
df.to_csv('data/encodings/train_enc_6.csv',index=False)