https://towardsdatascience.com/python-automl-sklearn-fd85d3b3c5e

In [2]:
import pandas as pd

from sklearn.preprocessing import StandardScaler

import warnings
warnings.filterwarnings('ignore')

In [4]:
df = pd.read_csv('data/train_cleaned.csv')

In [5]:
df.head(5)

   carat        cut color clarity     depth  table  price
0   0.30    Premium     D     SI2  0.623981   58.0  6.353
1   1.01      Ideal     E    VVS2  0.627329   56.0  9.183
2   0.72      Ideal     F     VS2  0.618341   59.0  7.983
3   1.08  Very Good     G     SI2  0.631902   57.0  8.371
4   0.36    Premium     G     VS1  0.623204   59.0  6.588

In [7]:
df['cut'].unique()

array(['Premium', 'Ideal', 'Very Good', 'Fair', 'Good'], dtype=object)

In [8]:
df['color'].unique()

array(['D', 'E', 'F', 'G', 'H', 'I', 'J'], dtype=object)

In [6]:
df['clarity'].unique()

array(['SI2', 'VVS2', 'VS2', 'VS1', 'SI1', 'VVS1', 'IF', 'I1'],
      dtype=object)

In [9]:
dict_cut = {'Fair': 0, 'Good': 1, 'Very Good': 2, 'Premium': 3, 'Ideal': 4}
dict_color = {'J': 0, 'I': 1, 'H': 2, 'G': 3, 'F': 4, 'E': 5, 'D': 6}
dict_clarity = {'I1': 0, 'SI2': 1, 'SI1': 2, 'VS2': 3, 'VS1': 4, 'VVS2': 5, 'VVS1': 6, 'IF': 7}

In [10]:
df["cut"] = df["cut"].map(dict_cut)
df["color"] = df["color"].map(dict_color)
df["clarity"] = df["clarity"].map(dict_clarity)

In [11]:
df.head(5)

   carat  cut  color  clarity     depth  table  price
0   0.30    3      6        1  0.623981   58.0  6.353
1   1.01    4      5        5  0.627329   56.0  9.183
2   0.72    4      4        3  0.618341   59.0  7.983
3   1.08    2      3        1  0.631902   57.0  8.371
4   0.36    3      3        4  0.623204   59.0  6.588

In [12]:
df.to_csv('data/train_enc.csv',index=False)