In [1]:
import pandas as pd
import pickle

from sklearn.preprocessing import StandardScaler

import warnings
warnings.filterwarnings('ignore')

In [119]:
gradient_boost_2 = pickle.load(open("gradient_boost_2.pkl", 'rb'))

In [125]:
train = pd.read_csv('data/train_clustered_1.csv')

In [120]:
test = pd.read_csv("data/test_enc.csv")

In [98]:
test_0.set_index('index', inplace=True)

In [121]:
test.head(10)

   carat  cut  color  clarity     depth  table
0   0.32    4      1        2  0.605381   58.0
1   1.24    3      1        2  0.629247   60.0
2   1.66    3      6        2  0.620462   59.0
3   0.75    3      6        1  0.606419   56.0
4   1.50    0      5        1  0.648161   55.0
5   0.82    4      2        3  0.615385   56.0
6   0.54    4      3        1  0.617871   54.0
7   0.45    1      6        3  0.637317   61.0
8   0.31    2      3        2  0.632439   57.0
9   0.30    3      6        3  0.606897   60.0

In [123]:
df = test.drop(['cut', 'clarity', 'depth'], axis=1)

In [193]:
def depth(x,y,z):
    a= z / ((x + y)/2)
    return a

In [194]:
for i in range(len(df)):
    df['depth'][i] = depth(df['x'][i],df['y'][i],df['z'][i])

In [153]:
df['depth_old'] = df_depth['depth']/100

In [195]:
df.head(5)

   id  carat      cut color clarity     depth  table     x     y     z
0   0   0.32    Ideal     I     SI1  0.605381   58.0  4.43  4.49  2.70
1   1   1.24  Premium     I     SI1  0.629247   60.0  6.80  6.74  4.26
2   2   1.66  Premium     D     SI1  0.620462   59.0  7.55  7.60  4.70
3   3   0.75  Premium     D     SI2  0.606419   56.0  5.94  5.90  3.59
4   4   1.50     Fair     E     SI2  0.648161   55.0  7.26  7.15  4.67

In [24]:
df_depth_2 = abs(df['depth_old'] - df['depth']) > 0.01

In [25]:
df_depth_2.shape

(13485,)

In [26]:
dubious = df_depth_2[df_depth_2 == True].index

In [27]:
len(dubious)

24

In [155]:
df['depth_old'].min()

0.508

In [196]:
df.drop(['id','x','y','z'],axis=1,inplace=True)

In [197]:
df.isnull().sum()

carat      0
cut        0
color      0
clarity    0
depth      1
table      0
dtype: int64

In [198]:
df[df['depth'].isnull() == True]

      carat   cut color clarity  depth  table
8786   1.14  Fair     G     VS1    NaN   67.0

In [199]:
df.iloc[8786]

carat      1.14
cut        Fair
color         G
clarity     VS1
depth       NaN
table      67.0
Name: 8786, dtype: object

In [200]:
df_depth.iloc[8786]['depth']

57.5

In [201]:
df.replace({df.iloc[8786]['depth'] : df_depth.iloc[8786]['depth']/100}, inplace=True)

In [202]:
df.iloc[8786]

carat       1.14
cut         Fair
color          G
clarity      VS1
depth      0.575
table       67.0
Name: 8786, dtype: object

In [203]:
oi = df[df['depth'] == 0]

In [204]:
oi

       carat      cut color clarity  depth  table
8876    1.15    Ideal     G     VS2    0.0   56.0
10219   1.00  Premium     G     SI2    0.0   59.0

In [205]:
df_depth.iloc[8876]['depth']

59.2

In [206]:
df_depth.iloc[10219]['depth']

59.1

In [207]:
df.replace({df.iloc[8876]['depth'] : df_depth.iloc[8876]['depth']/100}, inplace=True)
df.replace({df.iloc[10219]['depth'] : df_depth.iloc[10219]['depth']/100}, inplace=True)

In [211]:
dict_cut = {'Fair': 0, 'Good': 1, 'Very Good': 2, 'Premium': 3, 'Ideal': 4}
dict_color = {'J': 0, 'I': 1, 'H': 2, 'G': 3, 'F': 4, 'E': 5, 'D': 6}
dict_clarity = {'I1': 0, 'SI2': 1, 'SI1': 2, 'VS2': 3, 'VS1': 4, 'VVS2': 5, 'VVS1': 6, 'IF': 7}

In [212]:
df["cut"] = df["cut"].map(dict_cut)
df["color"] = df["color"].map(dict_color)
df["clarity"] = df["clarity"].map(dict_clarity)

In [233]:
df.head(5)

   carat  cut  color  clarity     depth  table
0   0.32    4      1        2  0.605381   58.0
1   1.24    3      1        2  0.629247   60.0
2   1.66    3      6        2  0.620462   59.0
3   0.75    3      6        1  0.606419   56.0
4   1.50    0      5        1  0.648161   55.0

In [217]:
df.to_csv('data/test_enc.csv', index=False)

In [101]:
pred = gradient_boost_5.predict(df)

In [102]:
len(pred)

5874

In [104]:
test_0['price'] = pred

In [94]:
test_1.head(5)

       carat  cut  color  clarity     depth  table     price
index
3       0.75    3      6        1  0.606419   56.0  7.885312
4       1.50    0      5        1  0.648161   55.0  8.986899
5       0.82    4      2        3  0.615385   56.0  8.088265
6       0.54    4      3        1  0.617871   54.0  7.016910
8       0.31    2      3        2  0.632439   57.0  6.364325

In [106]:
test_0.reset_index(inplace=True)

In [109]:
test_1.reset_index(inplace=True)

In [107]:
test_0.head(5)

   index  carat  cut  color  clarity     depth  table     price
0      0   0.32    4      1        2  0.605381   58.0  6.103838
1      1   1.24    3      1        2  0.629247   60.0  8.560086
2      2   1.66    3      6        2  0.620462   59.0  9.519379
3      7   0.45    1      6        3  0.637317   61.0  6.958285
4      9   0.30    3      6        3  0.606897   60.0  6.650656

In [110]:
test_1.head(5)

   index  carat  cut  color  clarity     depth  table     price
0      3   0.75    3      6        1  0.606419   56.0  7.885312
1      4   1.50    0      5        1  0.648161   55.0  8.986899
2      5   0.82    4      2        3  0.615385   56.0  8.088265
3      6   0.54    4      3        1  0.617871   54.0  7.016910
4      8   0.31    2      3        2  0.632439   57.0  6.364325

In [111]:
df_concat = pd.concat([test_0, test_1], axis=0)

In [113]:
df_concat.sort_values(by=['index'], inplace=True)

In [114]:
df_concat.head(5)

   index  carat  cut  color  clarity     depth  table     price
0      0   0.32    4      1        2  0.605381   58.0  6.103838
1      1   1.24    3      1        2  0.629247   60.0  8.560086
2      2   1.66    3      6        2  0.620462   59.0  9.519379
0      3   0.75    3      6        1  0.606419   56.0  7.885312
1      4   1.50    0      5        1  0.648161   55.0  8.986899

In [78]:
df_concat.columns

Index(['index', 'carat', 'cut', 'color', 'clarity', 'depth', 'table', 'price'], dtype='object')

In [115]:
df_concat.drop(['carat', 'cut', 'color', 'clarity', 'depth', 'table'], axis=1, inplace=True)

In [116]:
df_concat.rename(columns = {'index':'id'}, inplace = True)

In [117]:
df_concat.head(5)

   id     price
0   0  6.103838
1   1  8.560086
2   2  9.519379
0   3  7.885312
1   4  8.986899

In [118]:
df_concat.to_csv('data/predictions/gradient_boost_5.csv', index=False)