In [1]:
import pandas as pd

from sklearn.preprocessing import StandardScaler

import warnings
warnings.filterwarnings('ignore')

In [16]:
df = pd.read_csv('data/test.csv')

In [17]:
df.head(5)

   id  carat      cut color clarity  depth  table     x     y     z
0   0   0.32    Ideal     I     SI1   60.5   58.0  4.43  4.49  2.70
1   1   1.24  Premium     I     SI1   62.9   60.0  6.80  6.74  4.26
2   2   1.66  Premium     D     SI1   62.0   59.0  7.55  7.60  4.70
3   3   0.75  Premium     D     SI2   60.6   56.0  5.94  5.90  3.59
4   4   1.50     Fair     E     SI2   64.8   55.0  7.26  7.15  4.67

In [4]:
df.isnull().sum()

id         0
carat      0
cut        0
color      0
clarity    0
depth      0
table      0
x          0
y          0
z          0
dtype: int64

In [18]:
df_depth = df.copy()

In [19]:
def depth(x,y,z):
    a= z / ((x + y)/2)
    return a

In [20]:
for i in range(len(df)):
    df['depth'][i] = depth(df['x'][i],df['y'][i],df['z'][i])

In [21]:
df['depth_old'] = df_depth['depth']/100

In [22]:
df.head(5)

,id,carat,cut,color,clarity,depth,table,x,y,z,depth_old
0,0,0.32,Ideal,I,SI1,0.605381,58.0,4.43,4.49,2.70,0.605
1,1,1.24,Premium,I,SI1,0.629247,60.0,6.80,6.74,4.26,0.629
2,2,1.66,Premium,D,SI1,0.620462,59.0,7.55,7.60,4.70,0.620
3,3,0.75,Premium,D,SI2,0.606419,56.0,5.94,5.90,3.59,0.606
4,4,1.50,Fair,E,SI2,0.648161,55.0,7.26,7.15,4.67,0.648

In [24]:
df_depth_2 = abs(df['depth_old'] - df['depth']) > 0.01

In [25]:
df_depth_2.shape

(13485,)

In [26]:
dubious = df_depth_2[df_depth_2 == True].index

In [27]:
len(dubious)

24

In [28]:
df['depth_old'].min()

0.508

In [30]:
df.drop(['id','x','y','z', 'depth_old'],axis=1,inplace=True)

In [31]:
df.isnull().sum()

carat      0
cut        0
color      0
clarity    0
depth      1
table      0
dtype: int64

In [38]:
df[df['depth'].isnull() == True]

      carat   cut color clarity  depth  table
8786   1.14  Fair     G     VS1    NaN   67.0

In [40]:
df.iloc[8786]

carat      1.14
cut        Fair
color         G
clarity     VS1
depth       NaN
table      67.0
Name: 8786, dtype: object

In [43]:
df_depth.iloc[8786]['depth']

57.5

In [51]:
df.replace({df.iloc[8786]['depth'] : df_depth.iloc[8786]['depth']/100}, inplace=True)

In [52]:
df.iloc[8786]

carat       1.14
cut         Fair
color          G
clarity      VS1
depth      0.575
table       67.0
Name: 8786, dtype: object

In [54]:
dict_cut = {'Fair': 0, 'Good': 1, 'Very Good': 2, 'Premium': 3, 'Ideal': 4}
dict_color = {'J': 0, 'I': 1, 'H': 2, 'G': 3, 'F': 4, 'E': 5, 'D': 6}
dict_clarity = {'I1': 0, 'SI2': 1, 'SI1': 2, 'VS2': 3, 'VS1': 4, 'VVS2': 5, 'VVS1': 6, 'IF': 7}

In [55]:
df["cut"] = df["cut"].map(dict_cut)
df["color"] = df["color"].map(dict_color)
df["clarity"] = df["clarity"].map(dict_clarity)

In [56]:
df.head(5)

   carat  cut  color  clarity     depth  table
0   0.32    4      1        2  0.605381   58.0
1   1.24    3      1        2  0.629247   60.0
2   1.66    3      6        2  0.620462   59.0
3   0.75    3      6        1  0.606419   56.0
4   1.50    0      5        1  0.648161   55.0

In [57]:
df.to_csv('data/submission.csv',index=False)